---
import Container from "../../components/Container/Container.astro";
import "./Hero.css";
---

<section id="portfolio" class="portfolio" aria-labelledby="portfolio-title">
  <Container>
    <div class="portfolio__content">
      <header class="portfolio__heading">
        <h1 id="portfolio-title" class="portfolio__title">
          Selección de Obras
        </h1>

        <p class="hero__subtitle">PROYECTOS RECIENTES</p>
      </header>
      <div class="portfolio__layout"></div>
    </div>
  </Container>
</section>
