/* ==========================================
  PORTFOLIO SECTION
========================================== */

.portfolio {
  padding-block: var(--space-20);
  background-color: var(--color-border-light);
}

/* ==========================================
  PORTFOLIO CONTENT
========================================== */

.portfolio__content {
  display: flex;
  flex-direction: column;
  gap: var(--space-10);
}

/* ==========================================
   PORTFOLIO HEADING
========================================== */

.portfolio__heading {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
}
.portfolio__title {
  font-family: var(--font-display);

  font-size: var(--fs-h2);
  font-weight: var(--fw-regular);

  line-height: var(--lh-h2);

  color: var(--color-text-title);
}

.portfolio__subtitle {
  font-family: var(--font-display);

  font-size: var(--fs-h3);
  font-weight: var(--fw-regular);

  line-height: var(--lh-h3);

  color: var(--color-text-accent);
}
/* ==========================================
   PORTFOLIO LAYOUT (Responsive)
========================================== */

/* 1. Mobile (por defecto): 1 columna */
.portfolio__layout {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-3);
}

/* 2. Tablet (768px en adelante): 2 columnas */
@media (min-width: 768px) {
  .portfolio__layout {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* 3. Desktop (1024px en adelante): 3 columnas */
@media (min-width: 1024px) {
  .portfolio__layout {
    grid-template-columns: repeat(3, 1fr);
  }
}
