---
import Container from "../../components/Container/Container.astro";

import { Card, CardImage, CardContent } from "../../components/Card";

import { portfolioImages } from "../../assets/images/portfolio";

import "./portfolio.css";
---

<section id="portfolio" class="portfolio" aria-labelledby="portfolio-title">
  <Container>
    <div class="portfolio__content">
      <header class="portfolio__heading">
        <h2 id="portfolio-title" class="portfolio__title">
          Selección de Obras
        </h2>

        <p class="hero__subtitle">PROYECTOS RECIENTES</p>
      </header>
      <div class="portfolio__layout">
        <Card>
          <CardImage
            image={{
              avif: portfolioImages.casaPeninsula.avif,
              webp: portfolioImages.casaPeninsula.webp,
            }}
            alt="Villa Marina frente al mar"
          />

          <CardContent>
            <h3>Casa Península</h3>

            <p>Residencial • 2023</p>
          </CardContent>
        </Card>

        <Card>
          <CardImage
            image={{
              avif: portfolioImages.edificioPrisma.avif,
              webp: portfolioImages.edificioPrisma.webp,
            }}
            alt="Villa Marina frente al mar"
          />

          <CardContent>
            <h3>Edificio Prisma</h3>

            <p>Comercial • 2022</p>
          </CardContent>
        </Card>

        <Card>
          <CardImage
            image={{
              avif: portfolioImages.villaMarina.avif,
              webp: portfolioImages.villaMarina.webp,
            }}
            alt="Villa Marina frente al mar"
          />

          <CardContent>
            <h3>Villa Atemporal</h3>

            <p>Residencial • 2024</p>
          </CardContent>
        </Card>
      </div>
    </div>
  </Container>
</section>
