---
import Container from "../../components/Container/Container.astro";
import Card from "../../components/ui/Card/Card.astro";
import CardImage from "../../components/ui/Card/CardImage.astro";
import CardContent from "../../components/ui/Card/CardContent.astro";

import casapeninsulaAvif from "../../assets/images/portfolio/casa-peninsula.avif";
import casapeninsulaWebp from "../../assets/images/portfolio/casa-peninsula.webp";

import edificioprismaAvif from "../../assets/images/portfolio/edificio-prisma.avif";
import edificioprismaWebp from "../../assets/images/portfolio/edificio-prisma.webp";

import villaAvif from "../../assets/images/portfolio/villa-marina.avif";
import villaWebp from "../../assets/images/portfolio/villa-marina.webp";

import "./portfolio.css";
---

<section id="portfolio" class="portfolio" aria-labelledby="portfolio-title">
  <Container>
    <div class="portfolio__content">
      <header class="portfolio__heading">
        <h2 id="portfolio-title" class="portfolio__title">
          Selección de Obras
        </h2>

        <p class="hero__subtitle">PROYECTOS RECIENTES</p>
      </header>
      <div class="portfolio__layout">
        <Card>
          <CardImage
            image={{
              avif: casapeninsulaAvif,
              webp: casapeninsulaWebp,
            }}
            alt="Villa Marina frente al mar"
          />

          <CardContent>
            <h3>Casa Península</h3>

            <p>Residencial • 2023</p>
          </CardContent>
        </Card>

        <Card>
          <CardImage
            image={{
              avif: edificioprismaAvif,
              webp: edificioprismaWebp,
            }}
            alt="Villa Marina frente al mar"
          />

          <CardContent>
            <h3>Edificio Prisma</h3>

            <p>Comercial • 2022</p>
          </CardContent>
        </Card>

        <Card>
          <CardImage
            image={{
              avif: villaAvif,
              webp: villaWebp,
            }}
            alt="Villa Marina frente al mar"
          />

          <CardContent>
            <h3>Villa Atemporal</h3>

            <p>Residencial • 2024</p>
          </CardContent>
        </Card>
      </div>
    </div>
  </Container>
</section>
