---
import BaseLayout from "../layouts/BaseLayout.astro";

// Buena práctica: Si creas tu footer como un componente separado, lo importas aquí
// import Footer from "../components/Footer.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<BaseLayout title={title} description={description}>
  <header>
    <nav>Gustavo Alonso</nav>
  </header>

  <main></main>

  <footer>
    <p>&copy; 2026 Gustavo Alonso. Todos los derechos reservados.</p>
  </footer>
</BaseLayout>
